{% extends "main.html" %}
{% block content %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>About</h1>
		</div>
	</div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="col-md-10 menu-item">
              <p>This is an About page for current application.</p>
            </div>
        </div>
    </div>
{% endblock %}
