{% extends "main.html" %}
{% block content %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Delete Ingredient</h1>
		</div>
	</div>

	<h2> Are you sure you want to delete {{item.name}}? </h2>

	<form action="#" method = 'post'>

		<a href = "{{url_for('showRecipe', catalog_id=catalog_id, dishItems_id=dishItems_id)}}">
            <button class="btn btn-default delete" type="submit" name="submit_button" value="delete">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
            <button class="btn btn-default delete" type="submit" name="submit_button" value="cancel">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
		</a>

	</form>

{% endblock %}
