{% extends "main.html" %}
{% block content %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Edit {{catalog.name}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" class="form-control" name="name" value="{{catalog.name }}" required>
					<div class="padding-bottom"></div>
					<a href = "{{ url_for('editCatalog', catalog_id = catalog.id)}}">
						<button class="btn btn-default" type="submit" name="submit_button" value="save">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
						<button class="btn btn-default delete" type="submit" name="submit_button" value="cancel">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}