{% extends "main.html" %}
{% block content %}
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Edit Dish</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="name" value="{{item.name }}" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" required>{{item.description}}</textarea>

					<label for="region">Region:</label>
					<input type ="text" maxlength="50" class="form-control" name="region" value="{{item.region}}">

					<label for="course">Course:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course1" value="Appetizer" {% if item.course == 'Appetizer'%}checked{%endif%}>Appetizer
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course2" value="Entree" {% if item.course == 'Entree' %}checked{%endif%}>Entree
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course3" value="Dessert" {% if item.course == 'Dessert'%}checked{%endif%}>Dessert
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="course" id="course4" value="Beverage" {%if item.course =='Beverage'%}checked{%endif%}>Beverage
					  </label>
					</div>
					<a href = "{{url_for('showDish', catalog_id=catalog_id)}}">
						<button class="btn btn-default" type="submit" name="submit_button" value="save">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
						<button class="btn btn-default delete" type="submit" name="submit_button" value="cancel">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Cancel</button>
					</a>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
